* {
  margin: 0px;
  padding: 0px;
}
#container {
  text-align: center;
}
#cont {
  width: 310px;
  height: 310px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
#cont div {
  width: 96px;
  height: 96px;
  border: 2px solid #7a7a7a;
  cursor: pointer;
  background-color: white;
}
#cont div:hover {
  background-color: lightblue;
}
button {
  padding: 15px 25px;
  background-color: blue;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}
h2 {
  margin-top: 30px;
}
span {
  color: blue;
}
#error {
  color: red;
  margin-top: 20px;
  display: none;
}
